{% extends 'base.html' %}

{% block content %}
{% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Add New Blog Post</h1>
{% endif %}
<form method="post" action="{% url 'create' %}">

    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.title.id_for_label }}">Title:</label>
        {{ form.title }}
    </div>
    <div class="form-group">
        <label for="{{ form.category.id_for_label }}">Category:</label>
        {{ form.category }}
    </div>
    <div class="form-group">
        <label for="{{ form.context.id_for_label }}">Context:</label>
        {{ form.context }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}