{% extends 'base.html' %}
{% block content %}

<h1>Blog Post Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ blogpost.name }}</span>
    <p>Category: {{ blogpost.category }}</p>
    <p>Context: {{ blogpost.description }}</p>
    {% if blogpost.cookingtime > 0 %}
      <p>Age: {{ blogpost.cookingtime }}</p>
    {% else %}
      <p>Cooking Time: 0</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'update' blogpost.id %}">Update</a>
    <a href="{% url 'delete' blogpost.id %}">Delete</a>
  </div>
</div>
<!--comments section-->
<h2>Comments</h2>
{% if comments %}
<ul>
    {% for comment in comments %}
    <li>{{ comment.text }}</li>
    {% endfor %}
</ul>
{% else %}
    <p>No comments yet!</p>
{% endif %}

<!--comment form -->
<h2>Add a Comment</h2>
<form method="post" action="{% url 'new_comment' blogpost_id=blogpost.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

{% endblock %}