{% extends 'base.html' %}
{% block content %}

<h1>Foodie Tribe Blog Post</h1>

{% for blogpost in blogposts %}
  <div class="card">
    <div class="card-content">
      <a href="{% url 'detail' blogpost.id %}">
      <span class="card-title">{{ blogpost.title }}</span>
      <p>Category: {{ blogpost.category }}</p>
      <p>Context: {{ blogpost.context }}</p>
      {% if blogpost.cookingtime > 0 %}
        <p>Cooking Time: {{ blogpost.cookingtime }}</p>
      {% else %}
        <p>Cooking Time: 0</p>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% endblock %}