{% extends 'base.html' %}
{% block content %}

<h1>Foodie Tribe Blog Post</h1>

{% for mainblog in mainblogs %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ mainblog.name }}</span>
      <p>Category: {{ mainblog.category }}</p>
      <p>Description: {{ mainblog.description }}</p>
      {% if mainblog.cookingtime > 0 %}
        <p>Age: {{ mainblog.cookingtime }}</p>
      {% else %}
        <p>Cooking Time: 0</p>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% endblock %}