body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ffffff;
  font-family: "Special Elite", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Special Elite', cursive;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.slogan {
  font-size: 24px;
  font-style: italic;
  color: black;
  margin-top: 7px;
  /* Adjust margin as needed */
}

